<mat-card>
  <button mat-raised-button color="primary" (click)="add()">Add Member</button>
  <table mat-table [dataSource]="members" class="mat-elevation-z8 w-100">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let m">{{m.fullName}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let m">{{m.email}}</td>
    </ng-container>
    <ng-container matColumnDef="mobile">
      <th mat-header-cell *matHeaderCellDef>Mobile</th>
      <td mat-cell *matCellDef="let m">{{m.mobile}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let m">
        <button mat-icon-button (click)="edit(m)">edit</button>
        <button mat-icon-button color="warn" (click)="remove(m)">delete</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['name','email','mobile','actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name','email','mobile','actions'];"></tr>
  </table>
  <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
</mat-card>
