<h1 mat-dialog-title>{{data ? 'Edit' : 'Add'}} Member</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Name</mat-label>
      <input matInput formControlName="fullName">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Mobile</mat-label>
      <input matInput formControlName="mobile">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
