<mat-card>
  <button mat-raised-button color="primary" (click)="add()">Add Payment</button>
  <table mat-table [dataSource]="payments" class="mat-elevation-z8 w-100">
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Paid</th>
      <td mat-cell *matCellDef="let p">{{p.paidAmount}}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let p">{{p.paidOn}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let p">
        <button mat-icon-button (click)="edit(p)">edit</button>
        <button mat-icon-button color="warn" (click)="remove(p)">delete</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['amount','date','actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['amount','date','actions'];"></tr>
  </table>
  <mat-progress-spinner *ngIf="loading" mode="indeterminate"></mat-progress-spinner>
</mat-card>
